html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

#flagimg {
    width: 100%;
    box-shadow: -2px 5px 15px -4px #000000;
}

main {
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type="text"] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type="submit"] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    bottom: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#messagebar {
    opacity: 0;
    transition: 0.5s;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    display: grid;
    place-items: center;
}

#messagebar .content {}

.correct {
    background-color: #ebffeb;
    color: darkgreen;
    opacity: 1 !important;
}

.incorrect {
    background-color: rgb(255, 215, 215);
    color: rgb(100, 0, 0);
    opacity: 1 !important;
}

.btn {
    all: unset;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #97e5ff;
    margin: 10px;
    color: black;
}

.simple-keyboard {
    display: none;
}

@media screen and (max-width: 500px) {
    input {
        position: fixed;
        bottom: 265px;
        left: 0px;
        margin: 0px auto;
        width: 100%;
        z-index: 1000;
        pointer-events: none;
    }

    #top {
        position: absolute;
        left: 0px;
        top: 0px;
        margin: 0px auto;
        width: 100%;
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.522);
        height: 30px;
        padding: 0px;

    }

    #top h1 {
        display: none;
    }

    #top h2 {
        margin-top: -1px;
    }

    #flagimg {
        box-shadow: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        z-index: 0;
        transform: translate(-50%, -50%);
    }

    #messagebar {
        position: fixed;
        bottom: 265px;
        left: 0px;
        margin: auto;
        width: 100%;
        border-radius: 0px;
        transform: translateX(-100%);
        transition: 0.5s;
        z-index: 2000;
        padding-top: 15px;
        padding-bottom: 15px;
        opacity: 1;
    }

    #messagebar.correct {
        transform: translateX(0%);
        transition: 0.5s;
    }

    #messagebar.incorrect {
        transform: translateX(0%);
        transition: 0.5s;
    }

    #messagebar.end {
        border-radius: 10px;
        height: 400px;
        transform: translateY(-50px);
        transition: 0s;
        animation: endin 0.5s both;
    }

    @keyframes endin {
        0% {
            transform: translateY(-50px) translateX(-100%);
            height: 400px;
        }

        100% {
            transform: translateY(-50px) translateX(0%);
            height: 400px;
        }
    }

    main {
        height: 450px;
        overflow: hidden;
    }

    .hg-button-space {
        color: white;
    }

    .simple-keyboard {
        display: block;
        position: fixed;
        bottom: 0px;
        margin: 0px auto;
        margin-left: -9px;
    }
}

@media (hover: none) {
    .simple-keyboard {
        display: block;
        position: fixed;
        bottom: 0px;
        margin: 0px auto;
        margin-left: -9px;
    }

    input {
        position: fixed;
        bottom: 265px;
        left: 0px;
        margin: 0px auto;
        width: 100%;
        z-index: 1000;
        pointer-events: none;
    }
}

.hg-button {
    height: 60px !important;
}