@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html, body {
    height: 100%;
}

.app {
    width: 750px;
    max-width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0px 20px;
    background-color: var(--background-color);
}

header {
    height: 60px;
    padding: 20px 0px;
    margin-bottom: 45px;
}

header h3 {
    margin: 0px;
}

a .fa-solid, button .fa-solid {
    margin-right: 5px;
}

.country-input {
    padding: 15px 20px !important;
}